<p id="notice"><%= notice %></p>

<p>
	<span class="heading"> <b> Classroom </b></span>
</p>

<p>
	<%= image_tag @classroom.attachments.first.image.url(:large) if @classroom.attachments.present? %>
</p>
	


<p>
  <b>Name:</b>
  <%= @classroom.name %>
</p>

<p>
  <b>Description:</b>
  <%= @classroom.description %>
</p>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>

	<% @classroom.students.each do |student| %>
	
	<p>
		<span> <b> Student:</b></span>
 	<%= student.name %>
 	<p>
		<span> <%= student.created_at %></span>
	</p>
 	<%= image_tag student.attachments.first.image.url(:medium) if student.attachments.present? %>
	<% end %>
</p>