<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @classroom.name %>
</p>

<p>
  <b>Description:</b>
  <%= @classroom.description %>
</p>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>


<%= form_for [@classroom, @teacher] do |f| %>

<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fathername %><br />
    <%= f.text_field :fathername %>
  </div>
  <div class="field">
    <%= f.label :designation %><br />
    <%= f.text_area :designation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>