<p id="notice"><%= notice %></p>

<p>
	<h1><b> CLASSROOM </b></h1>
</p>
<div>
  <p>
  	<%= image_tag @classroom.attachments.first.image.url(:large) if @classroom.attachments.present? %>
  </p>
</div>	

<div class="row">
	<div class="col-sm-6">
		<p>
			<b>Name:</b>
			<%= @classroom.name %>
		</p>
	</div>
	<div class="col-sm-6">
		<p>
			<b>Description:</b>
			<%= @classroom.description %>
		</p>
	</div>
</div>




<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>

  	<% @classroom.students.each do |student| %>
<div class="table-responsive">
  <table class="table table-hover">
    <td>
      <tr>
        <div class="row">
          <div class="col-sm-2">
       	    <td>
       		   <span> <b> Student:</b></span>
       	      <%= student.name %>
       	    </td>
          </div>    
          <div class="col-sm-2">
            <td>
       	      <span> <b> Father Name:</b></span>
       	      <%= student.fathername %>
       	    </td>
          </div>
          <div class="col-sm-2">
       	    <td>
      		    <span> <%= student.created_at %></span>
      	    </td>
          </div>
          <div class="col-sm-2">
       	    <div class="img">
              <td>
                <%= image_tag student.attachments.first.image.url(:thumb) if student.attachments.present? %>
              </td>
                <% end %>
            </div>
          </div>
        </div>  
      </tr>
    </td> 
 </table>
</div>