<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @student.attachments.first.image.url(:large) if @student.attachments.present? %>
</p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Fathername:</b>
  <%= @student.fathername %>
</p>

<p>
  <b>Class:</b>
  <%= @student.class %>
</p>


<%= link_to 'Edit', edit_classroom_student_path(classroom.id) %> |
<%= link_to 'Back', classroom_student_path %>
