<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Fathername:</b>
  <%= @teacher.fathername %>
</p>

<p>
  <b>Designation:</b>
  <%= @teacher.designation %>
</p>


<%= link_to 'Edit', edit_classroom_teacher_path(classroom.id) %> |
<%= link_to 'Back', classroom_teacher_path %>
